<nav class="bg-zinc-900 p-4 flex justify-between items-center mb-4">
  <!-- Logo -->
  <a href="/feed" class="flex items-center">
    <img
      src="https://i.pinimg.com/564x/86/0c/87/860c87633f4de3aae800d9c948cbebdd.jpg"
      alt="Pinterest Logo"
      class="logo"
    />
    <span class="text-xl font-semibold ml-2">Pinterest</span>
  </a>

  <!-- Nav Links -->
  <div class="space-x-4">
    <a href="/profile" class="hover:bg-zinc-700 px-3 py-1 rounded-lg"
      >Profile</a
    >
    <a href="/feed" class="hover:bg-zinc-700 px-3 py-1 rounded-lg">Feed</a>
    <a href="/logout" class="hover:bg-red-600 px-3 py-1 rounded-lg">Logout</a>
  </div>
</nav>
