<nav class="bg-zinc-800 px-10 p-4 flex justify-between items-center">
  <!-- Logo -->

  <div class="w-12 h-12 rounded-full bg-white">
    <a href="/feed" class="flex items-center">
      <img src="/images/pin-logo.png" alt="Pinterest Logo" class="logo" />
    </a>
  </div>

  <!-- Nav Links -->
  <div class="space-x-4">
    <a href="/profile" class="hover:bg-zinc-700 px-3 py-1 rounded-lg"
      >Profile</a
    >
    <a href="/feed" class="hover:bg-zinc-700 px-3 py-1 rounded-lg">Feed</a>
    <a href="/logout" class="hover:bg-red-600 px-3 py-1 rounded-lg">Logout</a>
  </div>
</nav>
